*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  cursor: url(../lol/cursor/cursorpqueño.png), auto;
  background-color: #ffffff;
}
.option-cursor {
  cursor: url(../lol/cursor/21.png), auto;
}
h2 {
  margin: 0px;
}

/*---------header----------*/
.headerBarraNegra {
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #000000;
  padding: 10px;
  z-index: 5;
}
.position {
  width: 100%;
  position: fixed;
}
.letraFondoOscuro {
  color: #ffffff;
  font-family: inherit;
}

.logo-lol {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: 15px;
  z-index: 3;
}

/*----------footer----------*/
.footer {
  background-color: #000000;
  padding: 30px;
  width: 100%;
}

/*----PÁGINA DE INFORMACIÓN DEL JUEGO----*/
.pageInfoGame {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.container-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#videos-FondoLOL1, #videos-FondoLOL2, #videos-FondoLOL3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-section {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}

#text-juego1, #text-juego2, #text-juego3  {
  font-size: 80px;
  font-style: italic;
  text-align: center;
  position: relative;
  color: rgb(255, 255, 255);
  z-index: 3;
}

.parrafo {
  width: 80%;
  font-size: 18px;
  margin: auto;
  padding: 10%;
  font-weight: 200;
  color: #ffffff;
  z-index: 3;
}

.capa {
  position: absolute;
  color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(72, 71, 71, 0.2);
  backdrop-filter: blur(5px);
  filter: brightness(0.5) saturate(0.8) contrast(1) blur(2px);
  mix-blend-mode: overlay;
}

/*----SECCIÓN CARD ALGUNOS CAMPEONES---*/
.card-algunosCampeones {
  display: flex;
  flex-direction: row;
  gap: 2%;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  z-index: 4;
  cursor: url(../lol/cursor/21.png), auto;
}

.cards {
  background-color: #000000;
  border: 2px solid #eb9d79;
  border-radius: 5%;

  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;

  transition: flex 0.3, filter 0.3;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  filter: brightness(0.7) saturate(0.2) contrast(1) blur(2px);
}

.cards:hover {
  filter: none;
}

/*.cards img {
    margin-bottom: 5px;
    border-radius: 5%;
    align-items: center;
  }*/

.cards h4 {
  display: block;
  width: 50%;

  font-size: 25px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s; /* hace que el texto(nombre del campeon) aparezca */
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.cards:hover h4 {
  bottom: 25px;
}

/*----MEDIA QUERY---*/

@media screen and (max-width: 768px) {

  .page-section {
    position: relative;
    width: 768px;
  }
  
  .container-video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #videos-FondoLOL1, #videos-FondoLOL2, #videos-FondoLOL3 {
    width: 100%;
    height: 100vh;
  }

  #text-juego1, #text-juego2, #text-juego3 {
    font-size: 60px;
    position: relative;
    z-index: 3;
  }

  .parrafo {
    width: 80%;
    font-size: 20px;
    z-index: 3;
  }

  .cards img {
    width: 16vh;
    height: 18vh;
  }

  .cards h4 {
    width: 50%;
    font-size: 17px;
  }
}

