body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
}
h2 {
  margin: 0px;
}
main {
  padding-top: 90px;
}
/*---------header----------*/
.headerBarraNegra {
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #000000;
  padding: 10px;
  z-index: 5;
}
.position {
  width: 100%;
  position: fixed;
}
.letraFondoOscuro {
  color: #ffffff;
  font-family: inherit;
}
.letraMayusculas {
  text-transform: uppercase;
}

.logo-lol {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: 15px;
  z-index: 3;
}

/*----------footer----------*/
.footer {
  background-color: #000000;
  padding: 30px;
  width: 100%;
}
/*----------CONTAINER MAIN----------*/
.container {
  width: 100%;
  height: 573px;
  overflow: hidden;
  position: relative;
}
.blur {
  font-size: 40px;
  position: absolute;
  color: #000000;
  height: 100%;
  width: 40%;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
}
.letraH2 {
  text-decoration: none;
  color: #000000;
  font-family: inherit;
  text-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}
.letraSpan {
  font-size: 15px;
}
.logo_leagueOfLegends {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 350px;
  z-index: 3;
}

/*FLEX*/
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15%;
}

/*IMAGENES*/
.imgFondo {
  position: relative;
  width: 100%;
  background-image: url(lol/032123_Patch_13_6_Notes_Banner_v3.jpg);
}
/*----------BOTONES----------*/

/*----------Centrar----------*/
.text-center {
  text-align: center;
}

/*----------TARJETA CAMPEONES----------*/
.campeonesTarjeta {
  background-color: #421313;
  color: #ffffff;
  font-family: inherit;
  height: 350px;
  margin: 10px;
  border-radius: 5px;
}
/* ----------GRID----------*/
.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/*Mostrar y ocultar */

/*BOTON*/

/*------------PAGE JUEGO--------*/
.pageInfoGame {
  font-family: "Roboto", sans-serif;
}

.text1 {
  padding-top: 50px;
}

.text2 {
  padding-top: 300px;
}

.text3 {
  padding-top: 350px;
}

.text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 3;

  font-family: "Roboto" sans-serif;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #ffffff;
  width: 90%;
  text-align: center;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 3;

  font-family: "Roboto" sans-serif;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #ffffff;
  width: 90%;
  text-align: center;
}

#video1 {
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#video2 {
  padding-top: 750px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#video3 {
  padding-top: 1450px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 3;

  font-family: "Roboto" sans-serif;
  font-size: 80px;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ffffff;
  width: 90%;
  text-align: center;
}

.parrafo {
  font-size: 20px;
  font-weight: 100;
}

.capa {
  position: absolute;
  color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}
